$bg: #1C1A1A;
$bt-tr: rgba(48, 45, 45, 0.34);


$gradient-bg: linear-gradient(
  to right,
  rgba(124, 111, 207, 0.97),
  rgba(116, 174, 170, 0.95),
  rgba(111, 207, 151, 1)
);


$border-gradient: linear-gradient(92.01deg, rgba(124, 111, 207, 0.194) 0%, rgba(116, 174, 170, 0.19) 49.13%, rgba(111, 207, 151, 0.2) 100%);



$text: rgba(242, 242, 242, 1);
$text-tr: rgba(242, 242, 242, 0.3);

$sec-text: rgba(130, 130, 130, 1);
$sec-text-tr: rgba(242, 242, 242, 0.4);

$dark-text: rgba(28, 26, 26, 1);

$icon-tr: rgba(242, 242, 242, 0.4);